<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title site-title-with-photo" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Sue Seo" class="site-profile-photo">
      <span>Sue Seo</span>
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/about/' | relative_url }}">About</a>
        <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
      </div>
    </nav>
  </div>
</header>
